StoreGUI/Service References/OrderStore/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrderStore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrderStore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Receipt">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Receipt" nillable="true" type="tns:Receipt" />
</xs:schema>