WarehouseGUI/Service References/WarehouseService/WarehouseServ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WarehouseServ" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5439/ServiceWarehouse.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5439/ServiceWarehouse.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5439/ServiceWarehouse.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWarehouseService_GetOpenRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenRequests" />
  </wsdl:message>
  <wsdl:message name="IWarehouseService_GetOpenRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IWarehouseService_AddRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRequest" />
  </wsdl:message>
  <wsdl:message name="IWarehouseService_AddRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IWarehouseService_ShipRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ShipRequest" />
  </wsdl:message>
  <wsdl:message name="IWarehouseService_ShipRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShipRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IWarehouseService">
    <wsdl:operation name="GetOpenRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IWarehouseService/GetOpenRequests" message="tns:IWarehouseService_GetOpenRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWarehouseService/GetOpenRequestsResponse" message="tns:IWarehouseService_GetOpenRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IWarehouseService/AddRequest" message="tns:IWarehouseService_AddRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWarehouseService/AddRequestResponse" message="tns:IWarehouseService_AddRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShipRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IWarehouseService/ShipRequest" message="tns:IWarehouseService_ShipRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWarehouseService/ShipRequestResponse" message="tns:IWarehouseService_ShipRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWarehouseService" type="tns:IWarehouseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOpenRequests">
      <soap:operation soapAction="http://tempuri.org/IWarehouseService/GetOpenRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequest">
      <soap:operation soapAction="http://tempuri.org/IWarehouseService/AddRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShipRequest">
      <soap:operation soapAction="http://tempuri.org/IWarehouseService/ShipRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WarehouseServ">
    <wsdl:port name="BasicHttpBinding_IWarehouseService" binding="tns:BasicHttpBinding_IWarehouseService">
      <soap:address location="http://localhost:5439/ServiceWarehouse.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>